.footer {
  @extend %grid;
  max-width: 144rem;
  margin: 0 auto;
  @extend %grid;
  justify-items: baseline;
  row-gap: 3.8rem;

  aspect-ratio: 1440 / 375;

  padding: 4.8rem 3.2rem;
  background-color: $color-black;
  color: $color-white;

  &__location {
    background-color: $color-gold;
    color: $color-black;
  }

  &__title {
    @extend %heading-sm;
    font-size: 2.4rem;
    line-height: 22px;
  }

  &__description {
    @extend %body-sm;
    font-size: 1.6rem;
    line-height: 26px;
  }

  &__icons {
    @extend %flexbox;
    flex-direction: row;
    gap: 2rem;
  }

  &__icon {
    &--black {
      filter: brightness(0) saturate(100%);
    }
  }
}

@include respond-to($breakpoint-tablets) {
  .footer {
    grid-template-columns: 0.75fr 1fr 0.75fr;
    padding: 5.6rem 4rem;

    &__icons {
      align-self: baseline;
      justify-self: end;
    }
  }
}
