.hero {
  @extend %grid;

  margin-bottom: 12rem;

  &__container {
    display: none;
  }

  &__image {
    margin-bottom: 3.2rem;

    img {
      width: 100%;
    }
  }

  &__information {
    @extend %flexbox;
    padding: 0 1.6rem;
    gap: 3.2rem;
    align-items: baseline;
  }

  &__title {
    @extend %heading-xl;
    font-size: 6rem;
    line-height: 55px;
    color: $color-black;
  }

  &__description {
    @extend %body-sm;
    color: $color-dark-gray;
    margin-bottom: 3.2rem;
  }
}

@include respond-to($breakpoint-tablets) {
  .hero {
    grid-template-columns: 43.7rem 1fr;

    &__image {
      margin-bottom: 0;

      img {
        max-width: 43.7rem;
      }
    }
    &__information {
      padding: 0;
      align-self: center;
      width: 33.9rem;
      transform: translateX(-4rem);
      gap: 4.8rem;
    }

    &__title {
      font-size: 7rem;
      line-height: 65px;
    }
    &__description {
      margin-bottom: 4.8rem;
    }
  }
}

@include respond-to($breakpoint-desktops) {
  .hero {
    grid-template-columns: 45rem 54rem 1fr;
    margin: 0 16.4rem 18rem 0;

    &__container {
      display: block;
    }

    &__container {
      height: auto;
      background-color: $color-black;
    }

    &__image {
      img {
        max-width: 100%;
      }
    }

    &__information {
      width: 35rem;

      transform: translate(0);
    }

    &__title {
      font-size: 9.6rem;
      line-height: 8.8rem;
    }

    &__description {
      font-size: 2.2rem;
      line-height: 3.2rem;
      margin-bottom: 6.4rem;
    }
  }
}
