$color-gold: #d5966c;
$color-black: #151515;
$color-dark-gray: #444;
$color-white: #fff;

$breakpoint-large-mobiles: "(min-width: 26.5em)";
$breakpoint-tablets: "(min-width: 48em)";
$breakpoint-large-tablets: "(min-width: 64em)";
$breakpoint-desktops: "(min-width: 75em)";
